<launch>
    <arg name="config_path" default = "$(find vins_estimator)/../config/euroc/euroc_config.yaml" />
    
    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
    </node>

</launch>
